html{
  margin:0;
  padding:0;
  text-align: center;
  font-size: 62.5%;
}
body{
  font-family: "Segoe UI",Helvetica,sans;
  /*background: linear-gradient(deepskyblue,white);*/
  background-color:pink;
}

ul#todolist{
  list-style-type: none;
  width:100%;
}

#container{
  witdh:100%;
  max-width: 300px;
  margin:auto;
}
ul#todolist li{
  margin:10px;
  padding:5px;
  background-color: #FFF;
  color:#000;
  border-bottom:1px solid deepskyblue;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

li:before{
  float:left;
  content: ' ';
  border:1px solid grey;
  width:12px;
  height:12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

ul#todolist li:first-child{

  border:1px solid red;
}

ul#todolist li:first-child:before{
  content:'';
  border:0;
}

ul#todolist li.checked{
  text-decoration: line-through;
  display:none;
}

ul#todolist li.checked:before{
  border: 2px solid red;
  border-left-width: 0;
  border-top-width: 0;
  transform: rotate(45deg);
  width: 6px;
  height: 16px;
  left:5px;
  position:relative;
  bottom:5px;
}